* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: azure;
    border: solid 1px;
    text-align: center;
}

h1 {
    color: rgb(0, 17, 255);
    font-size: 3em;
}

h2 {
    color: rgb(42, 54, 165);
}

nav {
    border: solid 1px;
    color: aqua;
}

p {
    color: rgb(44, 44, 44);
}